body {
  font-family: "Bai Jamjuree", sans-serif;
  margin: 0;
}
h2 {
  font-family: "Bai Jamjuree", sans-serif;
  color: #093f68;
  font-size: 12px !important;
}
.search-field {
  background-color: #a8efff;
  padding: 10px;
  border-bottom: #093f68 2px solid;
}
#search {
  display: inline-block;
  margin-left: 19.5%;
  width: 30%;
  height: 45px;
  border: 2px solid #093f68;
  border-radius: 25px;
  padding-left: 20px;
}
#search:hover {
  cursor: text;
}
#search::placeholder {
  color: #093f68;
  font-family: "Bai Jamjuree", sans-serif;
}
.search-icon {
  position: absolute;
  left: 47.5%;
  top: 24px;
  color: #093f68;
  opacity: 80%;
}
.search-icon:hover {
  cursor: pointer;
}
#search-submit {
  display: inline-block;
  margin-left: 10px;
  border: 2px solid #093f68;
  border-radius: 10px;
  height: 45px;
  width: 94px;
  color: #093f68;
  background-color: #ffffff;
  font-family: "Bai Jamjuree", sans-serif;
  transition: all 200ms ease-in-out;
}
#search-submit:hover {
  color: #ffffff;
  background-color: #093f68;
}
.main {
  margin: 15px auto;
  width: 60%;
  height: 280px;
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: right center;
}
.main-forecast {
  display: inline-block;
  height: 100%;
  width: 50%;
  border: 2px solid #093f68;
  border-radius: 10px;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 20px;
}
.main-forecast div {
  text-align: center;
  color: #093f68;
  margin-top: 7px;
}
.current-city {
  font-family: "Fredoka One", cursive;
  font-size: 30px;
}
.current-date {
  font-size: 16px;
}
.temperature {
  display: flex;
  justify-content: center;
  font-size: 28px;
}
.temperature-value {
  display: inline-block;
  font-weight: bold;
}
.temperature-degrees {
  display: inline-block;
  font-weight: bold;
}
.convert-temperature {
  display: inline-block;
  font-weight: bold;
  margin-left: 15px;
  margin-top: 7px;
}
.icon {
  display: inline-block;
  width: 200px;
}
#main-icon {
  margin-bottom: 60px;
  margin-left: 60px;
  vertical-align: unset;
}
.cards-container {
  width: 80% !important;
  padding: 0 !important;
  margin-bottom: 50px !important;
}
.day-card {
  height: 180px;
  border: #093f68 2px solid;
  border-radius: 10px;
}
.card-img {
  width: 80%;
  margin: 0 auto;
}
.day-card div {
  text-align: center;
  color: #093f68;
}
.day {
  font-family: "Fredoka One", cursive;
  font-size: 20px;
  text-align: center;
  color: #093f68;
}
.git-hub {
  display: inline-block;
  margin-left: 10%;
  color: #093f68;
  text-decoration: none;
}
